
@import "../../responsive.scss";

.profile-container{
    display: flex;
    gap: 10px;
    height: calc(100vh - 80px);
    padding-top: 20px;

    @include sm{
        flex-direction: column;
        padding-left: 18px;
    }

    a{
        color: var(--grey);
        padding: 10px;

        &.active{
            color: var(--orange);
        }
    }
    


    .left{
        flex: 1;

        .menu{
            display: flex;
            flex-direction: column;
            font-size: 1.2em;
            font-weight: 100;

            padding: 20px 20px;

            div{
                font-size: 0.9em;
                padding: 5px 10px ;
                background-color: var(--orange);
                width: fit-content;
                cursor: pointer;
            }
        }
    }


    .right{
        padding: 25px 10px 20px;
        overflow-y: scroll;
        flex: 3;

        @include sm{
            overflow-y: initial;
        }
    }
}