.list-card{
    list-style: none;
    height: fit-content;
    position: relative;

    .wrapper{
        width: 85%;
        margin: auto;
    }

    .edit{
        position: absolute;
        top: 290px;
        right: 30px;
        display: flex;
        align-items: center;
        gap: 3px;
        color: var(--orange);
    }

    .price{
        display: inline-flex;
        align-items: center;
        .naira{
            font-size: 1.2em;
        }
    }

    
    
    img{
        width: 100%;
        height: 270px;
    }

    .delete{
        font-size: 1.2em;
    }
    .time{
        color: white;
        position: absolute;
        top: 5px;
        left: 7px;
        background-color: var(--orange);
        border-radius: 20px;
        padding: 0.3em 0.8em;
    }

    .info{
        padding: 0.6em 0;

       
        p{
            font-size: 1rem;
            color: var(--light-grey-2);
    
            span{
                font-weight: 500;
                font-size: smaller;
                color: #000;
            }
        }

        .category{
            background-color: var(--light-grey);
            display: inline-block;
            border-radius: 10px;
            padding: 0.1em 0.5em;
        }
    }
   
}